.logo {
    font-family: Bilbo Swash Caps;
    font-size: 36px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 1.2999999523162842px;
    text-align: center;
    color: #FED136;
}

.header {
    display: flex;
    gap: 93px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list-link {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: center;
    color: #FED136;
}

.nav-list-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-list-link:hover,
.nav-list-link:hover {
    color: #2196F3;
}

.header {
    display: flex;
    gap: 93px;
    align-items: center;
}

body {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-hero-title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -1px;
    text-align: center;
}

.features-list-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -0.44999998807907104px;
    text-align: center;
}

.features-list-text {
    font-family: RobotoSlab;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.3499999940395355px;
    text-align: center;
    color: #777777;
}

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list-item {
    max-width: 270px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.features-list-img {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: -1px;
    text-align: left;
    color: #FFFFFF;
    justify-content: center;
    display: flex;
}

.footer {
    background-color: #222222;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.box {
    width: 1200px;
    margin: 0 auto;
}

.box {
    border-radius: 5px;
    padding: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.submit {
    display: block;
    margin: 0 auto;
}